*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: grid;
  place-items: center;
  padding: 2%;
}

.wrapper {
  height: 500px;
  width: 750px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-1{
  width: 100%;
  height: 100%;
  background: url(image.webp) no-repeat;
}

.img-2{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  filter: grayscale(5);
  background: url(image.webp) no-repeat;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* z-index: 99; */
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  /* accent-color: none; */
  -webkit-appearance: none;
  z-index: 99;
}

input::-webkit-slider-thumb{
  background-color: transparent;
  /* outline: none; */
  /* accent-color: red; */
  /* -webkit-appearance: none; */
  visibility: hidden;
  /* appearance: none; */
  cursor: col-resize;
}

.drag-line {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 100%;
  left: 48.80%;
  /* pointer-events: none; */
}

span {
  position: absolute;
  left: -7.5px;
  top: 48.43%;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
}

